* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  

}

body {
  background-color: #F8F8FF;
  color: #333;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.quiz {
  background-color: #EAEAEA;
  padding: 1rem;
  width: 80%;
  max-width: 640px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.quiz-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.quiz-info .question {
  background-image: linear-gradient(to left, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
}

.options {
  margin-bottom: 1rem;
}

.option {
  display: block;
  padding: 1rem;
  background-color: #EAEAEA;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.option:hover {
  background-color: #e4e4eb;
}

.option.green {
  background-color: #2cce7d;
}

.option:last-of-type {
  margin-bottom: 0;
}

.option.disabled {
  opacity: 0.5;
}

.option input {
  display: none;
}

button {
  appearance: none;
  outline: none;
  border: none;
  cursor: pointer;

  padding: 0.5rem 1rem;
  background-color: #2cce7d;
  color: #2d213f;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}

button:disabled {
  opacity: 0.5;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #212427;
}

p {
  color: #8f8f8f;
  font-size: 1.25rem;
  text-align: center;
}

section.completed {
  text-align: center;
  padding: 20px;
  background-color: #F8F8FF;
}

h1.completed {
  font-size: 22px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

h2.completed {
  font-size: 1.13em;
  font-weight: lighter;
  margin-bottom: 10px;
  margin-top: 15px;
  background-image: linear-gradient(#553c9a, #00c2cb);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

div.completed {
  padding: 0;
  margin-bottom: 20px;
  color: #333;
}

ul.completed {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #2cce7d;
  background-clip: text;
}

.completed li {
  margin-bottom: 10px;
}

.form-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
  background: #F8F8FF;
  border-radius: 4px;
}

form div {
  margin-bottom: 4px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  padding: 10px 15px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 0.8em;
}

.primary--text {
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
}

.form-text {
  font-size: 1.1rem;
  background-image: linear-gradient(#553c9a, #00c2cb);
  color: transparent;
  background-clip: text;
}

.v-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.v-btn {
  width: 100%;
  margin-top: 15px;
}

.mb-4 {
  margin-bottom: 0px;
}
